.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.update-score-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-score-button:hover {
    background-color: #45a049;
}

#closebutton {
    align-items: center;
}

.success-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.graph-container {
    position: relative;
    z-index: 1; /* Ensure the graph appears above other elements */
}

.home_bannerImage_container {
    position: relative;
    z-index: 0; /* Lower the z-index of the banner background */
}
