* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  .home_banner_container {
    position: relative;
    display: flex;
    padding-top: 3rem;
  }
  .home_bannerImage_container {
    position: absolute;
    top: 60px;
    right: -50px;
    z-index: 0;
    transform: scale(1.4);
  }
  .home_image_section {
    max-width: 800px;
    flex: 1;
    z-index: 1;
  }
  .home_text_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .primary_heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #4c4c4c;
    max-width: 600px;
  }
  .primary_text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
  }
  .secondary_button {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondary_button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary_button:hover {
    background-color: #e48f0f;
  }
  